@model BlogWithCategoryAndWriterDto

@{
	ViewData["Title"] = "BlogDetails";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}



<main>
	<!--? Hero Start -->
	<div class="slider-area ">
		<div class="slider-height2 d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap hero-cap2 text-center">
							<h2>@Model.Title</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero End -->
	<!--================Blog Area =================-->
	<section class="blog_area single-post-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="single-post">
						<div class="feature-img">
							<img class="img-fluid" src="@Model.ImageUrl" alt="">
						</div>
						<div class="blog_details">
							<h2 style="color: #2d2d2d;">@Model.Title</h2>


							<ul class="blog-info-link mt-3 mb-4">
								<li><i class="fa fa-user"></i> @Model.Writer.FirstName @Model.Writer.LastName</li>
								<li><a href="/Blog/GetBlogsByCategoryId/@Model.BlogCategoryId"><i class="fa fa-comments"></i> @Model.BlogCategory.CategoryName</a></li>
							</ul>
							<p class="excert">
								@Model.Content
							</p>
						</div>
					</div>
					<div class="navigation-top">
						<div class="d-sm-flex justify-content-between text-center">
							<h5>@Model.Writer.FirstName @Model.Writer.LastName Sosyal Medya Hesapları</h5>
							<ul class="social-icons">
								@foreach (var item in Model.Writer.TeacherSocial)
								{
									<li><a href="@item.Url" target="_blank"><i class="@item.Icon fa-2x"></i></a></li>
								}

							</ul>
						</div>
					</div>
					<div class="blog-author">
						<div class="media align-items-center">
							<img src="@Model.Writer.ImageUrl" alt="">
							<div class="media-body">

								<h5>@Model.Writer.FirstName @Model.Writer.LastName</h5>
								<p>
									<u>Yazar Hakkında</u>
									<br />
									Sizlerden Biri
								</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-4">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget search_widget">
							<form action="#">
								<div class="form-group">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder='Arayın'
											   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Arayın'">
										<div class="input-group-append">
											<button class="btns" type="button"><i class="ti-search"></i></button>
										</div>
									</div>
								</div>
								<button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
										type="submit">
									Ara
								</button>
							</form>
						</aside>

						@await Component.InvokeAsync("_BlogCategoryWithBlogs")

						@await Component.InvokeAsync("_BlogRecentBlogs")


					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ Blog Area end =================-->
</main>

