@model List<ResultCourseCategoryDto>

@{
    ViewData["Title"] = "Kurs Kategorileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
	int count = 0;
}

<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Kategori Adı</th>
			<th>Açıklama</th>
			<th>Gösterilme Durumu</th>

			<th></th>
			<th>Ana Sayfada</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			count++;
			<tr>
				<td>@count</td>
				<td>@item.CategoryName</td>
				<td>@item.Description</td>
				<td>@(item.IsShown ? "Gösteriliyor":"Gösterilmiyor")</td>

				<td>
					<button onclick="deleteCourseCategoryFunc(@item.CourseCategoryId)" class="btn btn-outline-danger">Sil</button>
					<a asp-area="Admin" asp-controller="CourseCategory" asp-action="UpdateCourseCategory" asp-route-id="@item.CourseCategoryId" class="btn btn-outline-info">Düzenle</a>					
				</td>

				<td>
					<a asp-area="Admin" asp-controller="CourseCategory" asp-action="ShowOnHome" asp-route-id="@item.CourseCategoryId" class="btn btn-outline-success">Göster</a>
					<a asp-area="Admin" asp-controller="CourseCategory" asp-action="DontShowOnHome" asp-route-id="@item.CourseCategoryId" class="btn btn-outline-secondary">Gösterme</a>					
				</td>

			</tr>
		}
	</tbody>
</table>

<a asp-area="Admin" asp-controller="CourseCategory" asp-action="CreateCourseCategory" class="btn btn-outline-primary">Yeni Kurs Kategorisi Ekle</a>

<script>
	function deleteCourseCategoryFunc(id)
	{
		Swal.fire({
	  title: "Silmek istediğine emin misin?",
	  text: "Bu işlemi geri alamazsın!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Evet, Sil!",
	  cancelButtonText: "Iptal"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href = "/Admin/CourseCategory/DeleteCourseCategory/"+id;
	  }
	});
	}


</script>
